RewriteEngine on

RewriteRule ^accueil$  index.php
RewriteRule ^parametres$  views/parameters.php

# Pour chaque page de favori il faudrait pouvoir mettre une fonction
# Comme ça même l'URL est dynamique.
RewriteRule ^hot$  views/pages.php
RewriteRule ^ps4$  views/pages.php
RewriteRule ^ps5$  views/pages.php
RewriteRule ^xboxOne$  views/pages.php
RewriteRule ^xbox_seriesX$  views/pages.php

RewriteRule ^page-non-trouvee$  404.php