RewriteEngine on

RewriteRule ^accueil$  index.php
RewriteRule ^parametres$  views/parameters.php
RewriteRule ^sujet1$  views/pages.php
RewriteRule ^sujet2$  views/pages.php
RewriteRule ^sujet3$  views/pages.php
RewriteRule ^sujet4$  views/pages.php
RewriteRule ^sujet5$  views/pages.php

RewriteRule ^page-non-trouvee$  404.php